<div class="card-content">
   <h1><i class="fa-solid fa-feather-pointed"></i>Edit your comment !</h1>

   <%= form_for [@gossip, @comment] do |f|%>

      <div class='form-group'  >
         <label> Content </label>
         <%= f.text_area :content, value: @comment.content, class: 'form-control' %>
      </div>

      <div class='form-group'  >
         <button type="submit"> Modifier</button>
      </div>
   <%end%>

      <div class="ball orange" > </div>
   <div class="ball red" > </div> 
   <div class="ball blue" > </div>
   <div class="ball pink" > </div>
      <div class="ball green" > </div>
</div>