
<div class="card-content">
   <h1><i class="fa-solid fa-feather-pointed"></i>Contact</h1>
   <form action="">  
      
   </form>
   <div class="ball orange" > </div>
   <div class="ball red" > </div> 
   <div class="ball blue" > </div>
   <div class="ball pink" > </div>
   <div class="ball green" > </div>
</div>