

<div class="card-content">
   <img src="https://source.unsplash.com/200x200/?portrait?sig=<%=rand(1..50)%>" 
         alt="avatar" class="rounded-circle img-fluid" style="width: 20%; min-width:250px">
   <h1 class="author_title"><%= @user.first_name%></h1>
   <div>
      <p><%= @user.email%></p>
      <p ><%= @user.city.name%></p>
   </div>
</div>

<svg class="d" width="522" height="229" viewBox="0 0 522 229" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 -161C37.6326 -56.544 112.798 44.8776 217.762 108.063C277.361 143.94 342.66 167.944 412.322 185.62C475.232 201.582 539.682 214.69 605.133 219.58C629.236 221.381 653.003 224.632 677.204 224.632C682.647 224.632 685.503 226.077 690 228" stroke="#6A5FE9" stroke-linecap="round"/>
</svg>
<svg class="e" width="522" height="229" viewBox="0 0 522 229" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 -161C37.6326 -56.544 112.798 44.8776 217.762 108.063C277.361 143.94 342.66 167.944 412.322 185.62C475.232 201.582 539.682 214.69 605.133 219.58C629.236 221.381 653.003 224.632 677.204 224.632C682.647 224.632 685.503 226.077 690 228" stroke="#6A5FE9" stroke-linecap="round"/>
</svg>
<svg class="f" width="522" height="229" viewBox="0 0 522 229" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 -161C37.6326 -56.544 112.798 44.8776 217.762 108.063C277.361 143.94 342.66 167.944 412.322 185.62C475.232 201.582 539.682 214.69 605.133 219.58C629.236 221.381 653.003 224.632 677.204 224.632C682.647 224.632 685.503 226.077 690 228" stroke="#6A5FE9" stroke-linecap="round"/>
</svg>

<svg class="a" width="413" height="420" viewBox="0 0 413 420" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-264 8.30945C-154.976 -10.8439 -29.7481 20.09345 76.7107 65.7265C137.159 100.155 190.04 145.362 239.537 197.471C284.235 244.529 327.199 294.327 363.484 349.017C376.846 369.158 391.309 388.296 403.149 409.404C405.812 414.151 408.469 415.935 412.346 418.916" stroke="#F0D785" stroke-linecap="round"/>
</svg>
<svg class="b" width="413" height="420" viewBox="0 0 413 420" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-264 8.30945C-154.976 -10.8439 -29.7481 5.09345 76.7107 65.7265C137.159 100.155 190.04 145.362 239.537 197.471C284.235 244.529 327.199 294.327 363.484 349.017C376.846 369.158 391.309 388.296 403.149 409.404C405.812 414.151 408.469 415.935 412.346 418.916" stroke="#F0D785" stroke-linecap="round"/>
</svg>
<svg class="c" width="413" height="420" viewBox="0 0 413 420" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-264 8.30945C-154.976 -10.8439 -29.7481 5.09345 76.7107 65.7265C137.159 100.155 190.04 145.362 239.537 197.471C284.235 244.529 327.199 294.327 363.484 349.017C376.846 369.158 391.309 388.296 403.149 409.404C405.812 414.151 408.469 415.935 412.346 418.916" stroke="#F0D785" stroke-linecap="round"/>
</svg>

