
<div class="row p-4 flex_row_center">
   <%@gossips.each do |gos|%>
      <div class="m-2 cardy">
         <div class="cover-pic">
         <img src="https://source.unsplash.com/200x200/?town?sig=<%=rand(1..10)%>" 
                alt="avatar" class="img-fluid" style="width: 100%; height: 100%;">
         </div>
         <div class="card-body">
            <h5 class="card-title"><%= gos.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= gos.user.first_name %></h6>
            <a href="#" class="card-link"><%= link_to "Détails", gossip_path(gos.id) %></a>
         </div>
      </div>
   <% end %>
</div>