/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flex_row_center{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
 }

.date_info p{
   margin-bottom: 9px !important;
}

 .cardy{
    background-color: rgb(233, 228, 228);
    border-radius: 10px;
    height: 360px;
    width: 15rem
 }

 .cover-pic{
    width: 100%;
    height: 200px;


 }

 .cover-pic img{
   border-radius: 10px 10px 0px 0px;
 }
 

 .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
 }

 @media screen and (max-width:632px){
   .card-content{
      height: auto;
   }
 }


 .card-content h1{
   font-size: clamp(4rem, 5vw, 6rem);
   font-weight: 900;
   width: 90%;
   text-align: center;
}

.btn-flex a{
   padding : 20px 40px;
   background-color: rgb(102, 16, 171);
   color: white;
   font-size: 1rem;
   margin: 30px 2px 0px 2px;
   transform: skew(-15deg);
}

.btn-flex a:hover{
   color: white;
   text-decoration: none;
   background-color: rgb(132, 63, 188);
}

.content_gossip{
   font-size:  clamp(1.1rem, 5vw, 1.4rem);
   font-style: italic;
   width: 70%;
   margin-bottom: 35px;
   text-align: center;
   font-weight: 300;
   line-height: 25px;
}

svg{
   position: absolute;
   z-index: -1;
}

.a{
   bottom: -180px;
}
.b{
   bottom: -120px;
}
.c{
   bottom: -90px;
}

.d{
   top: -100px;
   right: 0px;
}
.e{
   top: -70px;
   right: 0px;
}
.f{
   top: -10px;
   right: 0px;
}

.author_title{
   margin-top: 10px;
}


.btn-flex{
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

i{
   margin-right: 8px;
}

.user_info p{
   margin-top: 15px !important;
}

.user_info a{
   color: rgb(102, 16, 171);
   font-weight: 700;
}

.user_info a:hover{
   color: rgb(49, 12, 79);
   text-decoration: none;
}

.user_link a {
   color: rgb(102, 16, 171);
   font-weight: 700;
}

.user_link a:hover{
   color: rgb(49, 12, 79);
   text-decoration: none;
}

.scroll_to{
   position: absolute;
   bottom: 30px;
   font-size: 1rem;
   font-weight: 300;
   color: rgb(102, 16, 171);
}